# Virtual environments
mynv/
venv/
env/
tfenv/

# Python cache
__pycache__/
*.pyc

# ML models & datasets
*.h5
*.pkl
plantvillage_dataset/

# Flask
instance/
.env
static/uploads/

# Database
*.db

# Logs
*.log

# Jupyter
.ipynb_checkpoints/

# IDE / OS
.vscode/
.idea/
.DS_Store
Thumbs.db
